body {
	margin:				0px;
	background:			black;
	overflow:			hidden;
}

a, a:visited {
	color:				white;
}


@font-face {
	font-family:		'vSHandprinted';
	src:				url('../fonts/vSHandprinted.otf') format('opentype');
	font-weight:		normal;
	font-style:			normal;
}

.hint {
	/* font-family:		'vSHandPrinted'; */
	font-family:		'arial';
	font-weight:		normal;
	font-style:			normal;

	color:				white;
	position:			absolute;

	left:				10px;
	bottom:				20px;
	font-size:			14px;
}

.title, .menu {
	font-family:		'vSHandPrinted', 'sans-serif';
	font-weight:		normal;
	font-style:			normal;

	color:				white;
	position:			absolute;
}

.title {
	left:				10px;
	top:				10px;
	font-size:			50px;
}

.menu {
	left:				30px;
	right:				30px;
	top:				10px;
	font-size:			13px;
}

#menu .menu {
	top:				100px;
}

.menu a, .menu a:visited,
.popup a, .popup a:visited {
	text-decoration:	none;
}
.menu a:hover,
.popup a:hover {
	color:				#E04421;
}

#gobtn {
	position:			absolute;
	right:				0px;
}

.content {
	color:				white;
	position:			absolute;

	left:				30px;
	top:				200px;

	font-family:		Arial;
	display:			none;

	max-width:			400px;
}

.content .center {
	width:				100%;
	text-align:			center;
}

.scrim {
	background:			rgba(0, 0, 0, 0.7);
	position:			absolute;
	top:				0px;
	right:				0px;
	bottom:				0px;
	left:				0px;
}

.popup {
	position:			absolute;
	top:				0px;
	right:				0px;
	bottom:				0px;
	left:				0px;

	margin:				auto;
	width:				300px;
	height:				130px;

	font-family:		'arial';
	font-size:			18px;

	color:				#000;
	background:			url('static.gif'); /* rgba(136, 136, 136, 0.8); */
	padding:			10px;
	text-align:			center;

	-moz-border-radius:	10px;
	-webkit-border-radius: 10px;
	border-radius:		10px;

	box-shadow: 0px 0px 20px rgba(255, 255, 255, 0.5);
	-moz-box-shadow: 0px 0px 20px rgba(255, 255, 255, 0.5);
	-webkit-box-shadow: 0px 0px 20px rgba(255, 255, 255, 0.5);
}
.popup.fail {
	box-shadow: 0px 0px 20px rgba(255, 32, 0, 0.75);
	-moz-box-shadow: 0px 0px 20px rgba(255, 32, 0, 0.75);
	-webkit-box-shadow: 0px 0px 20px rgba(255, 32, 0, 0.75);
}
.popup.success {
	box-shadow: 0px 0px 20px rgba(64, 255, 128, 0.75);
	-moz-box-shadow: 0px 0px 20px rgba(64, 255, 128, 0.75);
	-webkit-box-shadow: 0px 0px 20px rgba(64, 255, 128, 0.75);
}

.popup p,
.popup a {
	color:				black;
	padding:			10px;
}

canvas {
	position:			absolute;
	top:				0px;
	right:				0px;
	bottom:				0px;
	left:				0px;

	z-index:			-1;
}

