body {
	margin:				0px;
	background:			black;
	overflow:			hidden;
	background:			url('images/stars.jpg');
}

a, a:visited {
	color:				white;
	cursor:				pointer;
}

@font-face {
	font-family:		'vSHandprinted';
	src:				url('../fonts/vSHandprinted.otf') format('opentype');
	font-weight:		normal;
	font-style:			normal;
}

#game .title {
	font-family:		'vSHandPrinted';

	color:				white;
	position:			absolute;

	left:				10px;
	top:				0px;
	font-size:			14px;
}

.navigation {
	position:			absolute;
	right:				10px;
	top:				10px;
}

.touchscreen .navigation {
	display:			none;
}

#menu .title,
.menu {
	font-family:		'vSHandPrinted', 'sans-serif';
	font-weight:		normal;
	font-style:			normal;

	color:				white;
	position:			absolute;
}

#menu .title {
	left:				10px;
	top:				-10px;
	font-size:			50px;
}

.menu {
	font-size:			13px;
}

#mainmenu {
	top:				80px;
	left:				30px;
	right:				30px;
}

.small #mainmenu {
	text-align:			center;
}

#gamemenu {
	left:				10px;
	bottom:				10px;
}

#gamebuttons {
	position:			absolute;
	right:				10px;
	bottom:				10px;
}

.menu a, .menu a:visited,
.popup a, .popup a:visited {
	text-decoration:	none;
}
.menu a:hover,
.popup a:hover {
	color:				#E04421;
}

.content {
	color:				white;
	position:			absolute;

	left:				0px;
	right:				0px;
	top:				120px;
	bottom:				0px;

	padding-left:		30px;
	padding-right:		30px;
	padding-bottom:		10px;

	font-family:		Arial;
	display:			none;

	overflow-y:			auto;
	overflow-x:			hidden;
}

.content .center {
	width:				100%;
	text-align:			center;
}

.scrim {
	background:			rgba(0, 0, 0, 0.7);
	position:			absolute;
	top:				0px;
	right:				0px;
	bottom:				0px;
	left:				0px;
}

.popup {
	color:				white;

	position:			absolute;
	top:				30px;
	right:				10px;
	left:				10px;

	margin-left:		auto;
	margin-right:		auto;
	margin-bottom:		auto;
	width:				280px;

	font-family:		'arial';
	font-size:			18px;

	background:			#000;
	padding:			10px;
	text-align:			center;

	-moz-border-radius:	10px;
	-webkit-border-radius: 10px;
	border-radius:		10px;

	box-shadow:			0px 0px 20px rgba(255, 255, 255, 0.5);
	-moz-box-shadow:	0px 0px 20px rgba(255, 255, 255, 0.5);
	-webkit-box-shadow:	0px 0px 20px rgba(255, 255, 255, 0.5);
}

.popup.askuser a {
	font-family:		'vSHandprinted';
}

.popup.mainmenu {
	/* Move down a bit so the logo can be seen */
	top:				100px;
}

.popup.hint {
	/* Move to the top left corner */
	right:				inherit;
	bottom:				inherit;
	top:				65px;
	left:				5px;
	height:				auto;
	width:				280px;
	font-size:			16px;
}

.popup.hint a {
	font-weight:		bold;
}

.popup.levelProperties,
.popup.bodyProperties {
	/* Move to the top right corner */
	left:				inherit;
	bottom:				inherit;
	top:				-5px;;
	right:				0px;
	height:				auto;
	width:				175px;
}

.popup .closebtn {
	margin:				0px;
	padding:			0px;
}

.popup .closebtn a {
	border:				1px solid #333;
	padding:			3px 8px 3px 8px;
}

.popup p {
	clear:				both;
	margin:				0px;
	padding:			5px;
}

.popup .label {
	font-size:			14px;
	float:				left;
	line-height:		2em;
}

.popup h3.label {
	line-height:		initial;
}

.popup .value {
	float:				right;
}

.popup select,
.popup input[type=text] {
	background:			#000;
	color:				#fff;

	text-align:			right;
	border:				0px;
	border-bottom:		1px solid #888;
	width:				75px;
}

.popup input[type=button] {
	background:			#000;
	color:				#fff;
	border:				1px solid #888;
	width:				150px;
}

.popup.fail {
	box-shadow:			0px 0px 20px rgba(224, 68, 33, 0.75);
	-moz-box-shadow:	0px 0px 20px rgba(224, 68, 33, 0.75);
	-webkit-box-shadow:	0px 0px 20px rgba(224, 68, 33, 0.75);
}

.popup.success {
	box-shadow:			0px 0px 20px rgba(108, 226, 64, 0.75);
	-moz-box-shadow:	0px 0px 20px rgba(108, 226, 64, 0.75);
	-webkit-box-shadow:	0px 0px 20px rgba(108, 226, 64, 0.75);
}

.popup a {
	color:				white;
	padding:			10px;
}

.levellist img {
	border:				1px solid #888;
	background:			#000;
}
.levellist .preview {
	margin:				8px;
	display:			inline-block;
	vertical-align:		top;
}

canvas {
	position:			absolute;
	top:				0px;
	right:				0px;
	bottom:				0px;
	left:				0px;

	z-index:			-1;
}

.mouse-pointer {
	cursor:				pointer;
}
.mouse-move {
	cursor:				move;
}
.mouse-grab {
	cursor:				move;
	cursor:				-webkit-grab;
	cursor:				-moz-grab;
	cursor:				grab;
}
.mouse-crosshair {
	cursor:				crosshair;
}

.hideui #game {
	display:			none !important;
}

